
.nav {
    display: flex;
    align-items: center;
    height: 2rem;
}

.navHeader {
    width: 100%;
    height: 2rem;
    background-color: transparent;
    padding-left: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.navHeader a{
    font-family: var(--font-family);
    font-weight: 600;
    text-decoration: none;
    color: var(--text-base);
    margin-left: 1rem;
    display: inline;
}

.account {
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

.account p {
    margin-right: -0.5em;
}

.navHeader img{
    width: 5rem;
    height: 5rem;
}

.account img {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-self: flex-end;
    margin-right: 1rem;
}