
.nav {
    display: flex;
    align-items: center;
    height: 2rem;
}

.navHeader {
    width: 100%;
    height: 2rem;
    background-color: transparent;
    padding-left: 2rem;
    padding-right: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.navHeader a{
    font-family: var(--font-family);
    font-weight: 600;
    text-decoration: none;
    color: var(--text-base);
    margin-left: 1rem;
    display: inline;
    font-size: 1.3rem;
}

.account {
    display: flex;
    align-items: center;
    font-size: 1.3em;
}
.account p {
    margin-right: 0.5em;
}
.logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -1em;
    position: relative;
    top: -0.5em;
    
}
.logoT {
    position: relative;
    top: 1em;
    width: 6rem;
    height: 6rem;
}
.logoB {
    position: relative;
    top: -1.3em;
    width: 7rem;
    height: 2rem;
}

.account img {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-self: flex-end;
    margin-right: 1rem;
}

.dropdown:hover .dropdown-element-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 1em;
}

.dropdown-element-container {
    position: absolute;
    display: none;
    background-color: rgba(255,255,255,50%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
    border-radius: 5px;
    width: fit-content;
    padding: 0;
}

.dropdown-element {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: black;
    width: 114%;
    right: 0.8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.dropdown-element:hover {
    background-color: rgba(0,0,0,70%);
    border-radius: 5px;
    color: white;
}
.account-delete {
    color: rgb(179, 4, 4);
    font-size: 1em;
}
