
.preview-details {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
}

.preview-title {
    font-size: 4em;
    font-weight: 900;
    -webkit-text-stroke: 0.6px black;
    line-height: 0.8em;
    letter-spacing: -0.03em;
}

.preview-buttons {
    color: white;
    font-weight: bold;
    background-color: rgba(255, 0, 0, .798);
    border-radius: 10px;
    border: none;
    padding: .3em 1em;
    margin: 1em .5em;
  }