
.preview-details {
    width: 60%;
    margin: 3rem 0 5rem 1rem;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin: 6em 0;
}

.preview-title {
    font-size: 4em;
    font-weight: 900;
    -webkit-text-stroke: 0.6px black;
    line-height: 0.8em;
    letter-spacing: -0.03em;
    margin-left: .1em;
}

.preview-buttons {
    color: white;
    font-weight: bold;
    background-color: var(--movie-details-buttons);
    border-radius: 10px;
    border: none;
    padding: .3em 1em;
    margin: 1em .5em;
    cursor: pointer;
}

.preview-buttons:hover {
    background-color: var(--movie-details-buttons-hover);
}