.pop-up {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 20em;
  background-color: var(--text-base);
  animation: slideUp .5s ease;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pop-up-show-details {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100%;
  /* animation: slideUp .5s ease; */
}

.pop-up-hide {
  animation: slideDown .5s ease;
  transform: translateY(100%);
}

@keyframes slideUp {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}

@keyframes slideDown {
  0% { transform: translateY(0%); }
  100% { transform: translateY(100%)}
}

.pop-up-detail-wrapper {
  width: 100%;
  height: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: 12em 1fr;
  column-gap: 1em;
  z-index: 3;
  
}

.pop-up-detail-wrapper-none {
  /* display: none; */
  animation: slideShowDetails 4s ease;
  transform: translateY(0);
  /* background-color: green; */
}

.pop-up-detail-wrapper-none > img {
  /* display: none; */
  opacity: 0;
}

.pop-up-detail-wrapper-none div{
  /* display: none; */
  opacity: 0;
}

@keyframes slideShowDetails {
  0% { transform: translateY(49%); }
  100% { transform: translateY(0); }
}

@media only screen and (max-width: 800px) {
  .pop-up-detail-wrapper {
    width: 100%;
    height: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: 15.5em 1fr;
    column-gap: 1em;
  }
}

.pop-up-detail-wrapper img{
  width: 100%;
  border-radius: 10px;
}

.pop-up-detail h1{
  font-size: 3em;
}

.pop-up-detail p{
  max-width: 30em;
  height: 7em;
  font-size: 1.2em;
  line-height: 1.6em;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.pop-up-buttons {
  position: fixed;
  bottom: 1.2em;
  
}

.pop-up-watchlist, .pop-up-details {
  background-color: var(--movie-details-buttons);
  color: var(--text-base);
  position: relative;
  border-radius: 10px;
  border: none;
  padding: .3em 1em;
  margin-right: .5em;
  cursor: pointer;
}

.pop-up-watchlist:hover, .pop-up-details:hover  {
  background-color: var(--movie-details-buttons-hover);
}

.background-gradient {
  width: 100%;
  height: 100%;
  position: fixed;
  background: linear-gradient(to right, var(--background-highlight) 50%, rgba(22, 22, 22, 10%) 100%);
  z-index: 2;
}

.background-gradient-none {
  display: none;
}

@keyframes disappear {
  0% { opacity: 100%; }
  100% { opacity: 0%; }
}

.pop-up-video {
  width: 120%;
  height: 100%;
  
  z-index: 1;
}

.pop-up-video img {
  width: 100%;
}

.pop-up-video-show img {
  width: 100vw;
}
