.App {

}
img {
  width: 10em;
}
.moviesList {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
}
h1 {
  font-size: 1em;
}
.moviesList h1 {
  overflow-wrap: break-word;
}
.movieCard {
  border: 2px solid black;
  word-wrap: break-word;
  max-width: 10em;
  max-height: 22em;
}


